#title {
    margin-bottom: 20px;
}

#content {
    margin-bottom: 20px;
}

#mainColumn {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
}

body {
    height: 100%;
    font-family: 'Open Sans',
    sans-serif;
}

section {
    height: 100vh;
    overflow: auto;
}
